@import helper._
@import modules.note.NewNote
@import modules.label.LabelRepository
@import modules.label.Label
@import modules.label.LabelComponent
@(newNoteForm: Form[NewNote],labels: Seq[Label])(implicit request: MessagesRequestHeader)

@main("Create a note") {
	<script src="@routes.Assets.versioned("javascripts/jscolor.js")"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript">
	$(document).ready(function(){
			$("#color-select").change( function() {

				var selectedColor = $(this).val()
				$("#get_colors").val(selectedColor);
				$("#get_colors").css('backgroundColor', selectedColor);

			});
		});
	</script>
	@form(modules.note.routes.NoteController.create()) {

		@inputText(newNoteForm("text"))
		@select(newNoteForm("labelIds"),labels.map(label=>(label.id.toString,label.label.toString)) , 'multiple -> true)
		@CSRF.formField

 color: <input name="color" class="jscolor {hash:true}" id="get_colors" value="newNoteForm("color")">

<body>

<select id="color-select" >
	<option value="#ab2567">Purple</option>
	<option value="#FFFF00">Yellow</option>
	<option value="#33CC33">Green</option>
	<option value="#111DAB">Blue</option>
	<option value="#10E5E3">Cyan</option>
	<option value="#E50A0A">Red</option>
</select>
</body>
		<div class="buttons">

			<input type="submit" value="Add note"/>
		</div>
	}
}
