@import helper._
@import modules.note.NewNote
@import modules.label.LabelRepository
@import modules.label.Label
@import modules.label.LabelComponent
@(newNoteForm: Form[NewNote],labels: Seq[Label])(implicit request: MessagesRequestHeader)

@main("Create a note") {
	<script src="@routes.Assets.versioned("javascripts/jscolor.js")"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript">
	$(document).ready(function(){
			$("#color-select").change( function() {

				var selectedColor = $(this).val()
				$("#get_colors").val(selectedColor);
				$("#get_colors").css('backgroundColor', selectedColor);

			});
		});
	</script>
<style>
	label {
display: block;
font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
margin: .4rem 0;
}

.note {
font-size: .8em;
}
</style>


	@helper.form(action=modules.note.routes.NoteController.create(), 'enctype -> "multipart/form-data") {

		@inputText(newNoteForm("text"))
		@select(newNoteForm("labelIds"),labels.map(label=>(label.id.toString,label.label.toString)) , 'multiple -> true)


 color: <input name="color" class="jscolor {hash:true}" id="get_colors" value="newNoteForm("color")">

	<body>

	<select id="color-select" >
		<option value="#ab2567">Purple</option>
		<option value="#FDB913">Yellow</option>
		<option value="#006A44">Green</option>
		<option value="#111DAB">Blue</option>
		<option value="#10E5E3">Cyan</option>
		<option value="#C1272D">Red</option>
	</select>
	</body>
	<input type="file"
		   id="picture" name="picture"
		   accept="image/png, image/jpeg">

			<div class="buttons">

				<input type="submit" value="Add note"/> or
				<a href="@modules.note.routes.NoteController.list()" class="btn">Cancel</a>
			</div>

	}

}
