@import helper._
@import modules.note.Note
@import modules.label.Label
@import scala.collection.mutable

@(notes: mutable.LinkedHashMap[Note,Seq[Label]],currentFilter: String,labels: Seq[Label],labelsFilter: List[Long])(implicit request: MessagesRequestHeader)

@request.flash.get("success").map { key =>
	@request.messages(key)
}

@main("Notes"){
	<a href="@modules.note.routes.NoteController.createView()" >Create a note</a>

	<table>
		<thead>
		<style>
table {
  border-spacing: 0;
  width: 99%;
  border: 1px solid #ddd;
}

th {
  cursor: pointer;
}

th, td {
  text-align: left;
  padding: 20px;
}


</style>
			<tr>

				@helper.form(action=modules.note.routes.NoteController.list()) {
				<input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by text..."/>
				<select multiple name="labels">

					@labels.map { label =>
					<option  value="@label.id" >@label.label</option>
					}
				</select>

				<input type="submit" id="searchsubmit" value="Filter" class="btn primary"/>
				}
			</tr>
		</thead>
		<tbody>
		<table id="myTable">

			<th><a href="@modules.note.routes.NoteController.list()">Note</a></th>
			@Option(notes).filter(_.nonEmpty).map { notes =>
				@notes.map { note =>
					<tr style="background-color: @note._1.color">
						<td align="center">@note._1.text
							<a href="@modules.note.routes.NoteController.edit(note._1.id)"><i class="edit icon" ></i></a>
						</td>
					</tr>

				}
			}.getOrElse {
				<tr><td>There are no notes</td></tr>
			}

		</table>

		</tbody>
	</table>
}
